<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="alternate" href="rss.xml" type="application/atom+xml" title="RSS feed of EU Data Conferences">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
    <ul>
      {% for conference in site.data.conferences %}
      <li class="h-event vevent">
        <a href="{{ conference.uri }}" class="u-url"><span class="p-name">{{ conference.name }}</span></a>
        {% if conference.location %}(<span class="p-location">{{ conference.location }}</span>){% endif %}
        - {% if conference.startdate %} <time class="dt-start" datetime="{{ conference.startdate }}">{{ conference.startdate | date_to_string }}</time> to <time class="dt-end" datetime="{{ conference.enddate }}">{{ conference.enddate | date_to_string }}</time>
        {% else %}{{ conference.roughdate }}{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
{% include scripts.html %}
</body>
</html>
