BEGIN:VCALENDAR
VERSION:2.0
PRODID:{{ site.url }}
METHOD:PUBLISH
{% for conference in site.data.conferences.conferences %}
{% if conference.startdate %}
BEGIN:VEVENT
UID:{{conference.uid}}@wheresalice.github.io
ORGANIZER:CN="Collated By":MAILTO:wheresalice@noreply.github.com
LOCATION:{{ conference.location }}
SUMMARY:{{ conference.name }}
CLASS:PUBLIC
DTSTART:{{ conference.startdate | date: "%Y%m%d" }}T090000Z
DTEND:{{ conference.enddate | date: "%Y%m%d" }}T170000Z
DTSTAMP:{{ conference.startdate | date: "%Y%m%d" }}T090000Z
END:VEVENT
{% endif %}
{% endfor %}
END:VCALENDAR